@charset "UTF-8";
/* ================================================================ */
/* 포트폴리오 사이트 - 디테일 페이지 미디어 쿼리 (media-detail.css) */
/* ================================================================ */

/* ***************************************************************** */
/* PC 작은 사이즈 (max-width: 1400px) */
@media screen and (max-width: 1400px) {
  /* back-click */
  .back-click {
    top: 13%;
  }

  /* detail-img */
  .detail-img-m {
    margin: 100px 140px 20px;
  }

  /* detail-img-sb */
  .detail-img-sb {
    margin: 0px 140px;
  }
}

/* ***************************************************************** */

/* ***************************************************************** */
/*태블릿 가로 모드 (max-width: 1366px) 아이패드 프로 */
@media screen and (max-width: 1366px) {
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 가로 모드 (max-width: 1180px) 아이패드 에어 */
@media screen and (max-width: 1180px) {
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 가로 모드 (max-width: 1024px) 아이패드 미니 */
@media screen and (max-width: 1024px) {
}
/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 세로 모드 및 모바일 (max-width: 820px) 아이패드 에어 */
@media screen and (max-width: 820px) {
  /* ---------------------------- 마우스 커스텀 ---------------------------- */
  .custom-cursor {
    display: none !important;
  }
}
/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 세로 모드 및 모바일 (max-width: 768px) 아이패드 미니 */
@media screen and (max-width: 768px) {
  /* back-click */
  .back-click p {
    width: 35px;
    height: 35px;
  }

  /* detail-img */
  .detail-img-m {
    margin: 100px 120px 20px;
  }

  /* detail-img-sb */
  .detail-img-sb {
    margin: 0px 120px;
  }
}
/* ***************************************************************** */

/* ***************************************************************** */
/* 모바일 작은 사이즈 (max-width: 430px) 아이폰 14프로맥스 */
@media screen and (max-width: 430px) {
  /* back-click */
  .back-click p {
    display: none;
  }

    /* detail-img */
  .detail-img-m {
    margin: 80px 40px 20px;
  }

  /* detail-img-sb */
  .detail-img-sb {
    margin: 0px 40px;
  }
}
/* ***************************************************************** */

/* ***************************************************************** */
/* 모바일 작은 사이즈 (max-width: 400px) */
@media screen and (max-width: 400px) {
}
/* ***************************************************************** */
